.icon__container {
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease-in-out;
  transition: ease-in-out 0.3s;
}

.icon__container:hover {
  background-color: #1e1e1e;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
